.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5;
}

.app {
  width: 960px;
  background: #f3f7fa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 103px 50px 103px;
  &-header {
    padding: 50px;
    display: flex;
    align-items: center;
  }

  &-main {
    display: flex;
    gap: 20px;

    &_filter {
    }

    &_ticket {
      display: flex;
      flex-direction: column;

      &_btn {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 20px 15px 20px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background: rgb(33, 150, 243);
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
